<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Book Details</h1>
    <div th:if="${book}">
        <table>
            <thead>
            <tr>
                <th>ID:</th>
                <td><span th:text="${book.id}"></span></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Title:</th>
                <td><span th:text="${book.title}"></span></td>
            </tr>
            <tr>
                <th>Author:</th>
                <td><span th:text="${book.author.fullName}"></span></td>
            </tr>
            <tr>
                <th>Genres:</th>
                <td>
                    <span th:each="genre : ${book.genres}" th:text="${genre.name} + ' '"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Related comments</h2>
    <div th:each="comment : ${comments}">
        <p class="comment-id"><b>ID: </b><span th:text="${comment.id}"></span></p>
        <p class="comment-text"><b>Text: </b><span th:text="${comment.text}"></span></p>
    </div>
</div>
</body>
</html>